@font-face {
  font-family: 'EconomicaBold';
  src: url('assets/economica-bold.ttf') format('ttf');
}
@font-face {
  font-family:' RobotoCondenced';
  src: url('assets/roboto-condensed.light.ttf') format('ttf');
}
body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondenced', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}
a {
  color: #0c0661;
  text-decoration: none;
  
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.title-fade-out {
  opacity: 0;
  animation: fade-out 2s;
  -webkit-animation: fade-out 2s;
}
.title-fade-in {
  opacity: 1;
  animation: fade-in 2s;
  -webkit-animation: fade-in 2s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}